body
{
	padding:0px;
	margin:0px;
}
header input
{
	display:inline;
	position:relative;
	bottom:45%;
	left:25%;
	width:20%;
	height:25%;
	font-size:20pt;
	border-radius:0.3em;
	margin-right:20px;

}
header img
{
	width:110px;
	height:110px;
	padding:0px;
	margin-right:50px;
}
header
{
	padding:0px;
	width:100%;
	height:110px;
	border-bottom:solid;
	border-color:red;
	background-image: url("assets/fondheader.jpg"); 
	background-repeat: repeat-x;
}
header section
{
	width:100%;
	height:100%;
	margin:0px;
}
#loupe
{
	display:inline;
	position:relative;
	bottom:45%;
	left:25%;
	width:3%;
	height:25%;
	border-radius:0.5em;
	margin:0px;
	background-color:#d8c8bc;
	border-style:none;
}
#info
{
	display:inline;
	position:relative;
	bottom:45%;
	left:42%;
	width:3%;
	height:25%;
	border-radius:0.5em;
	margin:0px;
	background-color:#d8c8bc;
	border-style:none;
}
#panier
{
	display:inline;
	position:relative;
	bottom:45%;
	left:35%;
	width:3%;
	height:25%;
	border-radius:0.5em;
	margin:0px;
	background-color:#d8c8bc;
	border-style:none;
}

h1
{
	position:relative;
	display:inline;
	font-size:50pt;
	bottom:33%;
	left:15%;
	color:#ed0000;
	font-family:Bodony;
}
h2
{
	text-align:center;
	color:#ed0000;
}
#rubrique
{
	width:10%;
	height:100%;
	margin:0px;
}
ul
{
	list-style:none;
	width:100%;
	padding:0px;
	margin:0px;
	height:100%;
}
li button
{
	width:100%;
	padding:0px;
	margin:0px;
	height:40px;
	border-left-color:#d8c8bc;
	border-right-color:#d8c8bc;
	border-top-color:#e2ccbc;
	border-bottom-color:#e2ccbc;
	background-color:#d8c8bc;
}